*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
/build.gradle
/settings.gradle
/gradle/libs.versions.toml
/gradle/wrapper/gradle-wrapper.properties
/gradle.properties
/app/proguard-rules.pro
/app/build.gradle

/build
/src/main/assets/medicines/
/src/main/assets/database/
/src/main/AndroidManifest.xml
/src/main/assets/categories/
/src/main/res/drawable/
/src/main/res/xml/


